--find-links=http://pypi.pinaxproject.com
Django==1.1
python-dateutil==1.4.1
python-openid==2.2.4
python-yadis==1.1.0
simplejson==2.0.9
pytz==2009j


django-notification==0.1.3
django-openid==0.1.1
django-email-confirmation==0.1.3
django-mailer==0.1.0alpha
django-announcements==0.1.0
django-pagination==1.0.5.1
django-timezones==0.1.2
django-ajax-validation==0.1.3
django-uni-form==0.5.1


# BAP additions
# For CAS
-e git+git://github.com/winhamwr/django-cas-consumer.git#egg=cas_consumer
odict

# For CMS capability.
# Taken from merging http://django-page-cms.googlecode.com/svn/trunk/requirements/external_apps.txt
# and http://github.com/pinax/pinax/raw/1ac1630681f0b5a8d3e8e6911390dac0d3f087ee/requirements/0.7rc1/release.txt
django-mptt==0.3_pre
django-tagging==0.3_pre
html5lib>=0.10
django-page-cms==1.0.6

# For adds
-e git+git://github.com/bartTC/django-generic-flatblocks.git@v0.3#egg=django_generic_flatblocks

django-extensions==0.4.1