{% extends "site_base.html" %}
{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}schedule/css/schedule.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}schedule/css/fullcalendar.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}schedule/js/ui.core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}schedule/js/ui.draggable.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}schedule/js/fullcalendar.js"></script>
{% endblock %}

{% block rtab_id %}id="schedule_tab"{% endblock %}

{% block subnav %}
<ul>
    <li><a href="{% url schedule %}">All Calendars</a></li>
</ul>
{% endblock %}