{% extends "site_base.html" %}
{% load cache pages_tags %}
{% load_pages %}

{% block head_title %}
    {% if current_page %}
        {% show_content current_page "title" %}
    {% endif %}
{% endblock %}

{% block subnav %}{% if current_page %}{% pages_menu current_page %}{% endif %}{% endblock %}

{% block body %}{{ block.super }}
    {% placeholder body_content on current_page with WYMEditor %}
{% endblock %}

{% block extra_content %}
{% if user.is_authenticated and user.is_staff %}
<div class="content_footer cms_edit centered">
    <p><a href="{% url admin:pages_page_change current_page.pk %}">Edit</a> this page (Last edit: {{ current_page.last_modification_date }})</p>
</div>
{% endif %}
{% endblock %}