
#substripe {
    /**height: 2.7em;**/
}
#tabhead .middle_logo {
    position: absolute;
    right: 280px;
    top: 6px;
}
#tabhead .logo {
    height: 90px;
}
#tabhead .logo img {
    height: 135px !important;
    width: 135px !important;
}

#subnav {
    margin: 9px 0 0 0;
}
#subnav ul a:link, #subnav ul a:visited {
    float: left;
    margin: 0;
}

#body {
    width: 95%;
    margin: 0 auto;
    padding: 0;
}
#content {
    width: 768px;
    padding: 0;
    float: left;
    clear: left;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: -10px;
    margin-right: 1%;
    display: inline;
}

.widebody {
    width: 100%;
}

#sidebar{
    width: 300px;
    float: right;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#sidebar .advert img{
    margin: 0 auto;
}

div.calendar {
    margin-left:20px;
    margin-right:20px;
}

div.small_cal {
    width: 280px;
}

#footer {
    width: 70%;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.content_footer {
    margin-top: 3em;
    margin-bottom: 0;
}

.content_footer > p {
    margin-bottom: 0;
}