
#substripe {
    /**height: 2.7em;**/
}
#tabhead .middle_logo {
    position: absolute;
    right: 280px;
    top: 6px;
}
#tabhead .logo {
    height: 90px;
}
#tabhead .logo img {
    height: 125px;
    weight: 125px;
}

#subnav {
    margin: 9px 0 0 0;
}
#subnav ul a:link, #subnav ul a:visited {
    float: left;
    margin: 0;
}

#body {
    width: 760px;
}

.widebody {
    width: 100%;
}

.sidebar_right {
    float: right;
}
.sidebar_left {
    float: left;
}

div.calendar {
    margin-left:20px;
    margin-right:20px;
}

div.small_cal {
    width: 250px;
}

#footer {
    width: 760px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.content_footer {
    margin-top: 3em;
    margin-bottom: 0;
}

.content_footer > p {
    margin-bottom: 0;
}